<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System compliance report</title>
</head>
<body>

<article class="A4">
    <div class="main-page-wrapper">
        <h1 class="main-title">
            System compliance report
        </h1>
    </div>
</article>

<article class="A4">
    <h1 class="main-title">
        Информация о целевой системе:
    </h1>
	<h3>
	<p> {{system_summary}} </p>
	</h3>
    <h1 class="main-title">
        Информация о проверках:
		
    </h1>
	<h3>
        <p> Дата и время генерации отчета: {{date_time_report}}</p><br>
		<p> Используемые транспорты: </p>
		{% for transport in transport_info %}
		<p> Имя транспорта: {{transport.name}}</p>
		<p> Сетевые параметры для подключения: </p>
        <p>  - Хост: {{transport.host}}</p>
        <p>  - Порт: {{transport.port}}</p>
        <p>  - Логин подключения: {{transport.login}}</p><br>
		{% endfor %}
		
		<p> Общее количество проверок: {{sum_status}}</p>
		{% for count in counter_data %}
		<p> Проверок, завершившихся со статусом {{count.counter_key}}:  {{count.counter_value}}</p>
		{% endfor %}
		
    </h3>
</article>


<article class="A4">
    <h1>
        Проверка целевой системы
    </h1>
	{% for info in data %}
	<article>
        
		<h3>Краткое описание проверки: {{info.descr_short}}</h3>
        
		<h4>id:{{info.id_}}</h4>

        <p> Требование: {{info.request}} </p>
        <p> Система: {{info.response}} </p>
        <p> Статус проверки: <span class="not-compliant">{{info.status}} </span></p>
		<p> Время проверки: {{info.datetime_from_run }} </p>
		<p> Длительность проверки: {{info.lasting }} </p>
        <p>
            Полное описание: {{info.descr}}
        </p>
    </article>
	{% endfor %}
    

</article>

</body>
</html>